@font-face{
	font-family: Strjmono;
	src: url(../fonts/Strjmono.ttf);
}
@font-face{
	font-family: Stjldbl2;
	src: url(../fonts/Stjldbl2.ttf);
}
@font-face{
	font-family: Stjldbl1;
	src: url(../fonts/Stjldbl1.ttf);
}
*{
	font-family: 'Montserrat', sans-serif;
}
body{
			background: url("../img/stars.jpg");
			background-size: cover;
			width: 100%;
		}
section{
			width: 1024px;
			margin: 0 auto;
			padding-top: 10px;
		}
h1{
	text-align: center;
	
}
h1 img{
	text-align: center;
	margin: 0 auto;
	width: 560px;		
		}
img.chuwi{
	width: 300px;
	display: block;
	margin: 0 auto;
}
button{
	width: 120px;
	height: 120px;
	border-radius: 50%;
	display: block;
	margin: 10px auto;
	text-transform: uppercase;
	font-size: 16px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	background: yellow;
	border: none;
	color: white;
	text-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	background: #ff3019; /* Old browsers */
	background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ff3019 0%,#cf0404 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
p#mensaje{
	color: white;
	text-align: center;
	font-size: 25px;
}
figure{
	overflow: hidden;
	width: 300px;
	height: 300px;
	display: block;
	margin: 50px auto;
}